.notebook{
    display: block;
    width:450px;
    height: auto;
    border: 1px solid gray;
    margin-top: 40px;
    margin-right: 50px;
    font-size: 18px;
    color: darkolivegreen;
    background-color: lightgoldenrodyellow;
    text-align: center; 
}

#notebook{
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 30px;
    right: 300px;
}

.js-form{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}
img{
    width:300px;
    height: 200px;
}